# dbt
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/profiles.yml

# Airflow
airflow/logs/
airflow/airflow.cfg
airflow/webserver_config.py

# Python
venv/
.env
*.pyc
__pycache__/

# IDE
.vscode/
.idea/

# OS
.DS_Store